<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434922935942-ap7ef90fk1brjo5vakipblfu6j259qtm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434922935942-ap7ef90fk1brjo5vakipblfu6j259qtm</string>
	<key>API_KEY</key>
	<string>AIzaSyCJVdMEFNCOnJ1YTFcgO2EttqycISxgDcI</string>
	<key>GCM_SENDER_ID</key>
	<string>434922935942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Chat</string>
	<key>PROJECT_ID</key>
	<string>ios-project-e3951</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-project-e3951.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434922935942:ios:72a19f35b7d4e1ecc4e307</string>
	<key>DATABASE_URL</key>
	<string>https://ios-project-e3951.firebaseio.com</string>
</dict>
</plist>